<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('./templates/global.ejs') %>

    <link rel="stylesheet" href="/css/custom.css" />

    <!-- ReactJS and ReactDOM -->
    <!-- Replace these with production links. These are dev links. -->
    <%- include('templates/react-includes.ejs', {env: process.env.NODE_ENV}) %>

    <title>New Quiz - Admin Panel</title>
  </head>
  <body
    class="bg-gray-200 font-body pb-24"
    style="
      background: #f5e9b3;
      background: -webkit-linear-gradient(top left, #f5e9b3, #2dbeec);
      background: -moz-linear-gradient(top left, #f5e9b3, #2dbeec);
      background: linear-gradient(to bottom right, #f5e9b3, #2dbeec);
    "
  >
    <%- include('./templates/header.ejs') %>
    <p class="hidden" id="quizIdField"><%= quizId %></p>

    <div id="demo">Loading...</div>

    <!-- The React code -->
    <script src="/precompiled-js/quiz.js"></script>
  </body>
</html>
