<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube to CSV</title>
  </head>
  <body>
    <form method="get" action="/youtube/csv/download/">
      <label>Playlist ID:</label>
      <input
        type="text"
        name="playlist_id"
        placeholder="e.g. PLkt3DFCNIchE9iqT1vmgTnBhUeKI4Thdr"
      />
      <label>API Access Token:</label>
      <input type="text" name="access_token" placeholder="e.g. abcd" />
      <input type="submit" />
    </form>
  </body>
</html>
