<div class="cursor-pointer">
  <% let phases = [{name: "Applications", link: "/admin/application/"},{name: "Quizzes", link: "/admin/"},{name: "Orientation", link: "/admin/orientation/"},{name: "Interviews", link: "/admin/interview/"},{name: "Onboarding", link: "/admin/onboarding/"}, {name: "Email Sender", link: "/mail/compose"}] 
  
  phases.forEach(phase=>{
    if (phase.link!=current_url) {
    %>
    <a class="px-4 py-2 md:py-4  bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center" href="<%=phase.link%>"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5"><%=phase.name%></span>
  </span></a>
  <%} else {%>
    <a class="px-4 py-2 md:py-4 bg-gray-200 text-gray-900 grid grid-cols-6 items-center" href="<%=phase.link%>"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5"><%=phase.name%></span>
  </span></a>

  <%}

})
  %>
</div>