<header class="flex bg-white text-gray-800 shadow-md px-8 py-2 items-center fixed z-10 w-screen top-0 left-0">
  <a href="/" class="cursor-pointer"><img src="/img/cropped-Frame-3-409x66.png" class="h-6 sm:h-12" /></a>
  <ul class="hidden sm:flex flex-grow justify-end content-center items-center gap-x-8">
    <li>
      <a href="<% if (user_type=='admin') { %>/admin <% } else { %> /student <% } %>"><i class="fas fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
  </ul>
  <div class="relative sm:hidden flex-grow justify-items-end">
    <i class="fas fa-bars float-right" onClick="document.getElementById('header-ul').classList.toggle('hidden');"></i>
    <ul class="hidden absolute shadow-lg right-0 top-6" id="header-ul">
      <a href="/"
        ><li class="px-4 py-1 bg-white hover:bg-gray-200"><i class="fas fa-home"></i> Home</li></a
      >
      <a href="#"
        ><li class="px-4 py-1 bg-white hover:bg-gray-200"><i class="fas fa-cog"></i> Settings</li></a
      >
      <a href="/logout"
        ><li class="px-4 py-1 bg-white hover:bg-gray-200"><i class="fas fa-sign-out-alt"></i> Logout</li></a
      >
    </ul>
  </div>
</header>
