<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %>
    <title>Orientation - Admin Panel</title>
    <style>
      .quiz-card {
        flex-basis:100%;
      }
      @media screen and (min-width:800px) {
        .quiz-card {
          flex-basis:40%;
        }
      }
      @media screen and (min-width:1100px) {
        .quiz-card {
          flex-basis:21%;
        }
      }
      .hidden-imp {
        display:none!important;
      }
    </style>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../../templates/header-7-by-8.ejs') %>

    <div>
      <section class="h-screen bg-iec-blue text-white text-xs md:text-base ml-0 fixed w-2/8 md:w-1/8 mt-16" id="side-menu">
        <div class="cursor-pointer">
          <a class="px-4 py-2 md:py-4 bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center"><i class="far fa-file-alt col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5">Phase 1: Assessments</span>
          </span></a>
          <a class="px-4 py-2 md:py-4  bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center" href="/admin/orientation"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5">Phase 2: Orientation</span>
          </span></a>
          <a class="px-4 py-2 md:py-4  bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center" href="/admin/interview"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5">Phase 3: Interviews</span>
          </span></a>
          <a class="px-4 py-2 md:py-4  bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center" href="/admin/onboarding"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5">Phase 4: Onboarding</span>
          </span></a>
          <a class="px-4 py-2 md:py-4 bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center" href="/mail/compose"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5">Email Sender</span>
          </span></a>
        </div>
      </section>

      <section class="p-10 w-6/8 md:w-7/8 float-right mr-0" id="main-section">
        <div class="mt-16">
          <h1 class="text-2xl">Welcome <%= myname %></h1>
          
        </div>
        <div class="w-full">
          <h2 class="text-xl mt-6 mb-4 font-bold">Quizzes <a href="/quiz/new" class="text-xs px-4 py-1 cursor-pointer bg-iec-blue hover:bg-iec-blue-hover text-white rounded-full">NEW</a></h2>
          <div id="all-quizzes" class="flex flex-wrap justify-start gap-y-10 gap-x-10">
            <div class="grid w-64 grid-cols-6 gap-4 border bg-white pb-2 quiz-card">
              <div class="grid grid-cols-2 col-span-8 h-16 bg-iec-blue justify-center content-center">
                <a href="/admin/orientation/summary" class="text-white text-xl col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="Edit Quiz"><i class="far fa-edit "></i></a>
                <a class="text-white text-xl col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="Delete Quiz"><i class="fas fa-trash "></i></a>
              </div>
              <h3 class="col-span-6 font-semibold text-lg px-4">Orientation Cohort 3</h3>
              <div class="col-start-1 col-span-3"><p class="pl-4 pt-0">0 invited</p></div>
              <div class="col-start-4 col-span-3"><p class="pr-4 pt-0">0 attended</p></div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </body>
</html>
