<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %>

    <title>Orientation - Admin Panel</title>
    <style>
      .mytable td,
      th {
        padding: 0.5rem 1rem;
      }

      .hidden-imp {
        display: none !important;
      }
    </style>
  </head>
  <body class="bg-gradient-to-br from-green-300 to-blue-300 min-h-screen">
    <%- include('../../templates/header-7-by-8.ejs') %>

    <div class="flex items-center content-center align-middle">
      <%- include('../../templates/student-sidemenu.ejs') %>
      <section class="p-10 w-6/8 md:w-7/8 mx-auto mr-0" id="main-section">
        <div
          id="assessments-box"
          class="bg-white w-7/8 rounded-lg m-auto mt-16"
        >
          <div
            id="assessments-title-box"
            class="bg-iec-blue text-white font-light px-4 py-3 rounded-t-lg"
          >
            Orientation Status
          </div>
          <div
            id="assessments-box-content"
            class="px-10 py-8 overflow-x-auto grid grid-cols-5"
          >
            <div class="grid grid-cols-1 col-span-2">
              <h1 class="col-span-1 text-iec-blue text-6xl">0</h1>
              <p class="col-span-1">students invited</p>
              <div class="grid grid-cols-2">
                <a
                  href="#"
                  class="text-iec-blue hover:text-iec-blue-hover underline hover:no-underline"
                  >Invite New Students</a
                >
                <a
                  href="#"
                  class="text-iec-blue hover:text-iec-blue-hover underline hover:no-underline"
                  >View Invited Students</a
                >
              </div>
            </div>
            <div class="col-span-1"></div>
            <div class="grid grid-cols-1 col-span-2">
              <h1 class="col-span-1 text-iec-blue text-6xl">0</h1>
              <p class="col-span-1">students attended</p>
              <div class="grid grid-cols-2">
                <a
                  href="#"
                  class="text-iec-blue hover:text-iec-blue-hover underline hover:no-underline"
                  >Update Orientation Attendance</a
                >
                <a
                  href="#"
                  class="text-iec-blue hover:text-iec-blue-hover underline hover:no-underline"
                  >View Orientation Attendance</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
