<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <title>Compose Email - IEC Admin Panel</title>

</head>
<body class="px-8 md:px-32 pt-28 min-h-screen bg-gray-200">
    <%- include('../templates/header.ejs') %>
    <% data = data_obj.data %>

    <h1 class="text-2xl">Compose Email</h1>
    <section class="p-8 bg-white rounded-md w-full mx-auto mt-8 min-h-screen text-xs">
        <p>Hi</p>
    </section>
</body>
</html>