<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %>

    <!-- montserrat font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Sign Up - Student Panel</title>
    <style>
      input:not(:placeholder-shown):invalid {
        border: 1px solid red;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="bg-gradient-to-br from-green-300 to-blue-400 min-h-screen h-screen"
  >
    <div
      class="bg-white py-10 w-8/12 shadow-2xl m-auto mt-16 p-0 grid grid-cols-2"
    >
      <div
        class="col-span-1 border-r-2 h-full min-h- relative text-center hidden lg:block py-4"
      >
        <img src="/img/iec_logo.png" class="w-20 m-auto mt-1" />
        <p
          class="m-auto text-center font-bold text-blue-900 mt-4"
          style="font-family: 'Montserrat', sans-serif"
        >
          <span class="text-lg">WELCOME TO</span><br /><span class="text-xl"
            >THE IEC LCMS</span
          >
        </p>
        <img src="/img/8741.jpg" class="mt-2 max-w-full xl:max-w-md m-auto" />
      </div>
      <div
        class="col-start-1 col-span-2 lg:col-start-2 lg:col-span-1 h-full text-center py-4 px-8"
      >
        <form action="/student/signup" method="POST" id="form1">
          <div class="lg:hidden">
            <img
              src="/img/iec_logo.png"
              class="w-16 m-auto mt-1 inline-block"
            /><span class="text-lg text-blue-900 font-bold">
              WELCOME TO THE IEC LCMS</span
            >
          </div>
          <div class="w-full">
            <i
              class="far fa-arrow-alt-circle-left cursor-pointer float-left text-gray-700 text-xl"
              id="back-arrow"
              style="display: none !important"
            ></i>
            <p class="text-xl flex-1 text-gray-800 font-light inline-block">
              <i class="far fa-user-circle"></i> Register
            </p>
          </div>
          <div id="section1">
            <div class="flex flex-col text-sm">
              <div class="mt-6">
                <label class="ml-0 text-left float-left text-gray-800"
                  >Your First Name:</label
                ><br />
                <input
                  type="text"
                  id="firstName"
                  minlength="1"
                  maxlength="100"
                  name="firstName"
                  placeholder="e.g. Muhammad Ali"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                  required
                />
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your Last Name:</label
                ><br />
                <input
                  type="text"
                  id="lastName"
                  minlength="1"
                  maxlength="100"
                  name="lastName"
                  placeholder="e.g. Jinnah"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                  required
                />
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your Email Address:</label
                ><br />
                <input
                  type="email"
                  id="email"
                  minlength="5"
                  name="email"
                  placeholder="Hint: the one you wrote in the IEC form"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                  required
                />
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your CNIC Number (with dashes):</label
                ><br />
                <input
                  type="text"
                  id="cnic"
                  minlength="15"
                  maxlength="15"
                  name="cnic"
                  placeholder="e.g. 35201-1234567-8"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                  pattern="\d\d\d\d\d-\d\d\d\d\d\d\d-\d"
                  required
                />
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your Phone Number:</label
                ><br />
                <input
                  type="text"
                  id="phone"
                  minlength="11"
                  maxlength="11"
                  name="phone"
                  placeholder="e.g. 03001234567"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                  pattern="\d\d\d\d\d\d\d\d\d\d\d"
                  required
                />
              </div>
              <div class="mt-4">
                <label class="ml-0 text-left float-left text-gray-800 min-w-max"
                  >Your Gender:</label
                ><br />
                <select
                  name="gender"
                  id="gender"
                  class="py-3 px-4 mt-1 w-full bg-white border-2"
                  required
                >
                  <option class="py-2" value="" selected>Choose</option>
                  <option class="py-2" value="male">Male</option>
                  <option class="py-2" value="female">Female</option>
                  <option class="py-2" value="other">Other</option>
                </select>
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your Age:</label
                ><br />
                <input
                  type="number"
                  id="age"
                  min="10"
                  max="100"
                  name="age"
                  placeholder="e.g. 20"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm uppercase"
                  required
                />
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your City:</label
                ><br />
                <input
                  type="text"
                  id="city"
                  minlength="2"
                  maxlength="100"
                  name="city"
                  placeholder="e.g. LAHORE"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm uppercase"
                  required
                />
              </div>
              <div>
                <label class="ml-0 text-left float-left mt-4 text-gray-800"
                  >Your Full Address:</label
                ><br />
                <input
                  type="text"
                  id="address"
                  minlength="10"
                  maxlength="300"
                  name="address"
                  placeholder="e.g. street 1 house 2 area city province country"
                  class="border w-full py-3 px-4 mt-1 hover:shadow-sm uppercase"
                  required
                />
              </div>
              <button
                type="button"
                id="section1-button"
                class="py-3 px-6 bg-blue-900 text-white mt-4 cursor-pointer hover:bg-blue-800"
              >
                Next Step
              </button>
            </div>
          </div>
          <div id="section2" class="hidden">
            <p class="font-thin text-left mt-4">
              Please verify the following information:<br />
              <span class="font-bold">Name: </span><span id="name-mirror"></span
              ><br />
              <span class="font-bold">Email: </span
              ><span id="email-mirror"></span><br />
              <span class="font-bold">CNIC: </span><span id="cnic-mirror"></span
              ><br />
              <span class="font-bold">Phone: </span
              ><span id="phone-mirror"></span><br />
              <span class="font-bold">Gender: </span
              ><span id="gender-mirror"></span><br />
              <span class="font-bold">Age: </span><span id="age-mirror"></span
              ><br />
              <span class="font-bold">City: </span><span id="city-mirror"></span
              ><br />
              <span class="font-bold">Address: </span
              ><span id="address-mirror"></span><br /><br />
              If the above information is correct, proceed to set a password
              below:
            </p>
            <br />
            <div>
              <label class="ml-0 text-left float-left mt-4 text-gray-800"
                >Set a new password:</label
              ><br />
              <input
                type="password"
                minlength="6"
                maxlength="255"
                id="password"
                name="password"
                class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                required
              />
            </div>
            <div>
              <label class="ml-0 text-left float-left mt-4 text-gray-800"
                >Retype the same password:</label
              ><br />
              <input
                type="password"
                minlength="6"
                maxlength="255"
                id="password2"
                name="password2"
                class="border w-full py-3 px-4 mt-1 hover:shadow-sm"
                required
              />
            </div>
            <input type="hidden" name="invite" value="<%= link %>" />
            <input
              type="submit"
              class="w-full py-3 px-6 bg-blue-900 text-white mt-4 cursor-pointer hover:bg-blue-800"
              value="Finish Registration"
            />
          </div>
        </form>
        <a
          href="/student/login?link=<%= link %>"
          class="text-sm text-blue-600 underline hover:no-underline"
          >Have you already done this? Log in instead.</a
        >
      </div>
    </div>

    <script src="/js/student-signup.js"></script>
  </body>
</html>
