<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/luxon.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" id="val" value="<%=time%>">
    <p id='now'></p>
    <p id='demo'></p>
    <script>
        const time = document.getElementById("val").value
        const lt = luxon.DateTime.fromISO(time, {setZone: true})
        console.log("lt",lt)
        const now = luxon.DateTime.now().toUTC()
        document.getElementById("now").innerText=now
        console.log("now",now.toString())
        const diff =lt.diff(now).toMillis()
        document.getElementById("demo").innerHTML=diff
    </script>
</body>
</html>